body {
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
ul {
  list-style: none;
}
input:focus,
select:focus,
button:focus {
  outline: none;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
/* fonts files */
.opn-bold {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.opn-reg {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
/*colors*/
.main-nav {
  background: #81b3d2;
  position: relative;
}
.main-nav__close {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  padding: 0;
  width: 60px;
  height: 56px;
  font-size: 0;
  background-color: transparent;
  border: none;
}
.main-nav__close:before,
.main-nav__close:after {
  position: absolute;
  content: '';
  right: 15px;
  top: 25px;
  width: 25px;
  height: 5px;
  background: #fff;
}
.main-nav__close:before {
  transform: rotate(45deg);
}
.main-nav__close:after {
  transform: rotate(-45deg);
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.main-nav__item {
  display: block;
  position: relative;
  min-height: 56px;
}
.main-nav__item a {
  display: block;
  padding: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  text-align: center;
}
.main-nav__item:first-child a {
  border-top: none;
}
.main-nav__item--logo {
  order: 1;
  background: #fff;
  height: 56px;
  text-align: center;
}
.main-nav__item--logo a {
  display: inline;
  padding: 0;
  box-sizing: content-box;
  border: none;
}
.main-nav__item a:hover {
  background: #669ec0;
}
.main-nav__item a:active {
  background: #5496bd;
  color: #88b6d1;
}
.main-nav__item--logo a:hover {
  background: none;
}
.main-nav__item--logo a:active {
  background: none;
}
.main-nav__item--logo a img {
  height: 72px;
}
.main-nav--closed .main-nav__close {
  display: none;
}
.main-nav--closed .main-nav__item {
  display: none;
  position: absolute;
}
.main-nav--closed .main-nav__item.main-nav__item--logo {
  display: block;
  position: relative;
}
@media (min-width: 768px) {
  .main-nav {
    background: #fff;
  }
  .main-nav__close {
    display: none;
  }
  .main-nav__list {
    flex-direction: row;
  }
  .main-nav__item {
    width: 20%;
  }
  .main-nav__item a {
    padding: 15px 0;
    font-size: 14px;
    line-height: 26px;
    color: #000;
    border: none;
  }
  .main-nav__item a:hover {
    color: #81b3d2;
    background: #fff;
  }
  .main-nav__item a:active {
    color: #b2b2b2;
    background: #fff;
  }
  .main-nav__item--logo {
    order: 0;
  }
  .main-nav__item--logo a:hover {
    background: transparent;
  }
  .main-nav__item--logo a:active {
    background: transparent;
  }
  .main-nav--closed .main-nav__item {
    display: block;
    position: relative;
  }
}
.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.page-header__open-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 60px;
  height: 56px;
  font-size: 0;
  background-color: transparent;
  border: none;
}
.page-header__open-nav:before {
  position: absolute;
  content: '';
  right: 20px;
  top: 17px;
  width: 23px;
  height: 4px;
  background: #81b3d2;
  box-shadow: 0 4px 0 transparent, 0 8px 0 #81b3d2, 0 12px 0 transparent, 0 16px 0 #81b3d2;
}
@media (min-width: 768px) {
  .page-header {
    min-height: 56px;
  }
  .page-header__open-nav {
    display: none;
  }
}
.intro__wrapper {
  background: #fff;
}
.intro__text-logo {
  padding: 82px 0;
  text-align: center;
}
.intro__text-logo-wrapper {
  background-color: #fff;
  background-image: url("../img/intro-triangle-mobile.jpg"), url("../img/photo-background@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, 50% 0;
  background-size: 100% auto, 768px 383px;
}
.intro__slogan {
  padding: 42px 28px 28px 28px;
  text-align: center;
  line-height: 26px;
}
.intro__header {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 32px;
  padding: 0;
}
.intro__text {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .intro__text-logo {
    padding-top: 72px;
    padding-bottom: 84px;
  }
  .intro__text-logo-wrapper {
    background-image: url("../img/intro-triangle-tablet.png"), url("../img/intro-dg_tablet.jpg");
    background-size: 100% auto, 1200px 512px;
  }
  .intro__slogan {
    padding: 51px 20px;
  }
  .intro__header {
    font-size: 21px;
  }
}
.advantages__wrapper {
  display: flex;
  flex-direction: column;
}
.advantages__item {
  box-sizing: border-box;
  text-align: center;
  padding: 30px 16px 28px 16px;
  border-bottom: 1px solid #d6d6d6;
  border-left: 20px solid #eee;
  border-right: 20px solid #eee;
  background-color: #eee;
}
.advantages__item:last-child {
  border-bottom: none;
}
.advantages__title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}
.advantages__number-wrapper {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 50px;
}
.advantages__number-wrapper:after {
  position: relative;
  content: '';
  z-index: 1;
  display: block;
  border: 1px solid #9e9e9e;
  top: -13px;
}
.advantages__number {
  position: relative;
  z-index: 2;
  padding: 0 6px;
  background: #eee;
}
.advantages__item--blue {
  padding: 40px 30px 30px 30px;
  color: #fff;
  background: #81b3d2;
  border: none;
}
.advantages__item--blue .advantages__number-wrapper:after {
  border-color: #fff;
}
.advantages__item--blue .advantages__number {
  background: #81b3d2;
}
.advantages__city,
.advantages__bridge {
  text-align: center;
  line-height: 0;
}
.advantages__city img,
.advantages__bridge img {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .advantages__item--mobile-triangle {
    background-image: url("../img/mobile-triagle-blue.png");
    background-repeat: no-repeat;
    background-size: 768px 36px;
    background-position: center top;
    padding-top: 68px;
  }
  .advantages__title br,
  .advantages__descr span {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
  }
  .advantages__item {
    flex-basis: 33%;
    flex-grow: 1;
    padding: 45px;
    border: none;
  }
  .advantages__item--blue {
    height: 256px;
    box-sizing: border-box;
  }
  .advantages__title {
    font-size: 21px;
  }
  .advantages__bridge,
  .advantages__city {
    height: 256px;
    overflow: hidden;
    flex-basis: 67%;
  }
  .advantages__bridge {
    order: -1;
  }
  .advantages__bridge img,
  .advantages__city img {
    height: auto;
  }
  .advantages__swapper {
    display: flex;
    flex-grow: 1;
  }
  .advantages__descr {
    margin: 0;
  }
}
.feature {
  padding: 25px 20px 40px 20px;
  background-color: #fff;
}
.feature__item {
  position: relative;
  padding-left: 50px;
}
.feature__item:last-child .feature__descr {
  margin-bottom: 0;
}
.feature__title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 15px 0;
}
.feature__title:before {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: -10px;
  width: 40px;
  height: 40px;
}
.feature__title--house:before {
  background: url(../img/feature__icon--house.png) no-repeat center;
}
.feature__title--present:before {
  background: url(../img/feature__icon--present.png) no-repeat center;
}
.feature__title--burger:before {
  background: url(../img/feature__icon--burger.png) no-repeat center;
}
.feature__descr {
  line-height: 21px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .feature {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
  }
  .feature__item {
    width: 33%;
    padding: 60px 45px 63px 45px;
    text-align: center;
  }
  .feature__item:nth-child(2) {
    order: 1;
  }
  .feature__title {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 100px;
  }
  .feature__title:before {
    width: 80px;
    height: 80px;
    left: 50%;
    top: 60px;
    margin-left: -40px;
  }
  .feature__title--house:before {
    background: url("../img/feature__icon--house--tablet-desktop.png") no-repeat center;
  }
  .feature__title--present:before {
    background: url("../img/feature__icon--present--tablet-desktop.png") no-repeat center;
  }
  .feature__title--burger:before {
    background: url("../img/feature__icon--burger--tablet-desktop.png") no-repeat center;
  }
}
.seach__wrapper {
  background: #fff;
}
.seach__content {
  padding: 20px 25px;
  text-align: center;
}
.seach__title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #000;
  margin-bottom: 25px;
}
.seach__btn {
  display: block;
  width: 100%;
  padding: 30px;
  border: none;
  background-color: #766357;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.seach__btn:hover {
  cursor: pointer;
  background-color: #604e43;
}
@media (min-width: 768px) {
  .seach__content {
    display: block;
    vertical-align: top;
    max-width: 570px;
    margin: 0 auto;
    padding: 40px;
  }
  .seach__btn {
    margin: 0 auto;
    max-width: 570px;
  }
}
.form {
  box-sizing: border-box;
  background: #fff;
  padding: 25px 20px 25px 20px;
  margin: 0 auto;
  max-width: 570px;
}
.form--close {
  display: none;
}
.form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.form__label {
  display: inline-block;
  vertical-align: top;
  line-height: 41px;
  padding-left: 15px;
}
.form__input {
  display: inline-block;
  vertical-align: top;
  background-color: #f2f2f2;
  border: none;
}
.form__input--date {
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  padding-right: 38px;
  width: 100%;
}
.form__input--date:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  background: #f2f2f2 url("../img/form__icon--calendar.png") no-repeat center;
}
.form__btn {
  display: block;
  vertical-align: top;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 21px;
  background: #81b3d2;
  border: none;
}
.form__btn:hover {
  background: #669ec0;
}
.form__btn:active {
  background: #5496bd;
  color: #7eb0cd;
}
@media (min-width: 768px) {
  .form {
    padding: 50px;
  }
  .form__wrapper {
    position: absolute;
    width: 570px;
    left: 50%;
    margin-left: -285px;
  }
  .form__row {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .form__input--date {
    width: 350px;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 80px;
  background: #fff;
}
.footer__hashtag {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #000;
  margin-bottom: 50px;
}
.icons__list {
  display: flex;
  justify-content: center;
  padding: 0;
}
.icons__item a {
  display: block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  text-align: center;
  background: #81b3d2;
  margin: 0 3px;
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  line-height: 48px;
}
.icons__item a:hover {
  text-decoration: none;
  background: #669ec0;
}
.icons__item a:active {
  background: #88b6d1;
}
@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  .footer__hashtag--wrapper {
    line-height: 78px;
  }
}
