.intro {

  &__wrapper {
    background: @white;
  }

  &__text-logo {
    padding: 82px 0;
    text-align: center;
  }

  &__text-logo-wrapper {
    background-color: #fff;
    background-image: url("../img/intro-triangle-mobile.jpg"), url("../img/photo-background@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom, 50% 0;
    background-size: 100% auto, 768px 383px;
  }

  &__slogan {
    padding: 42px 28px 28px 28px;
    text-align: center;
    line-height: 26px;
  }

  &__header {
    .opn-bold;
    font-size: 18px;
    margin-bottom: 32px;
    padding: 0;
  }

  &__text {
    padding: 0;
    margin: 0;
  }
}

@media @tablet-widths {
  .intro {

    &__text-logo {
      padding-top: 72px;
      padding-bottom: 84px;
    }

    &__text-logo-wrapper {
      background-image: url("../img/intro-triangle-tablet.png"), url("../img/intro-dg_tablet.jpg");
      background-size: 100% auto, 1200px 512px;
    }

    &__slogan {
      padding: 51px 20px;
    }

    &__header {
      font-size: 21px;
    }

    @media @desktop-widths {
      .intro {

        &__wrapper {
          width: 1200px;
          margin: 0 auto;
        }

        &__text-logo-wrapper {
          background-image: url("../img/intro-triangle-desktop.png"), url("../img/intro-dg_desktop.jpg");
          background-size: 100% auto, 1200px 512px;
        }

        &__slogan {
          padding: 51px 20px;
        }

        &__header {
          font-size: 21px;
        }
      }
    }
  }
}

