.seach {

  &__wrapper {
    background: @white;
  }

  &__content {
    padding: 20px 25px;
    text-align: center;
  }

  &__title {
    .opn-bold;
    font-size: 21px;
    color: @black;
    margin-bottom: 25px;
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 30px;
    border: none;
    background-color: #766357;
    color: @white;
    .opn-bold;
    font-size: 18px;
  }

  &__btn:hover {
    cursor: pointer;
    background-color: #604e43;
  }
}

@media @tablet-widths {

  .seach {

    &__content {
      display: block;
      vertical-align: top;
      max-width: 570px;
      margin: 0 auto;
      padding: 40px;
    }

    &__btn {
      margin: 0 auto;
      max-width: 570px;
    }
  }
}

@media @desktop-widths {
  .seach {

    &__wrapper {
      width: 1200px;
      margin: 0 auto;
    }
  }
}